ul li{
    display:inline-block;
    margin: 0 5px;
    padding: 0;
    white-space: nowrap;
}

ul {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}
a {
    text-decoration: none;
    color: coral;
}

::-webkit-scrollbar {  //不显示滚动条
    display: none;
}

.active {
    color: red;
    border-bottom: 2px;
}

.indicator {
    background-color: hotpink;
    height: 2px;
    width: 2rem;
}