.container { //这一步
    overflow: hidden;
    position: relative;
}

.container .imgBox {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.container .image-slider::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }